<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title>系统基本信息</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" th:href="@{../../layui/css/layui.css}"  media="all">
		<link rel="stylesheet" th:href="@{../../css/myCss.css}"  media="all">
	</head>
	<body>
		<!-- 导航栏 -->
		<ul class="layui-nav">
			<li class="layui-nav-item layui-this"><a th:href="@{/admin/}">Admin</a></li>
			<li class="layui-nav-item"><a th:href="@{/admin/mBlog}">管理博客</a></li>
			<li class="layui-nav-item"><a th:href="@{/admin/writeBlog}">新博客</a></li>
			<li class="layui-nav-item"><a th:href="@{/admin/newTimeline}">写时间线</a></li>
			<li class="layui-nav-item"><a th:href="@{/admin/addStack}">技术栈</a></li>
			<li class="layui-nav-item layui-layout-right layui-hide layui-show-md-inline-block" style="margin-right: 3%;">
				<div sec:authorize="!isAuthenticated()">
					<a th:href="@{/login}">
						<i class="layui-icon layui-icon-username"></i>
						游客
					</a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<a href="javascript:;">
						<i class="layui-icon layui-icon-username"></i>
						nihilityer
					</a>
					<dl class="layui-nav-child layui-bg-black">
						<dd><a th:href="@{/}">前台页面</a></dd>
						<dd><a th:href="@{/logout}">注销</a></dd>
					</dl>
				</div>
			</li>
		</ul>
		
		<div class="layui-row" style="min-height: 94vh;">
			<div class="layui-col-lg6 layui-col-lg-offset3 layui-card" style="margin-top: 2%;">
				<div class="layui-card-header" style="text-align: center;">
					<strong>系统状态</strong>
				</div>
				<div class="layui-card-body layui-row">
				    <div class="layui-col-lg6">
						<p>已发布博客数：<strong th:text="${blogNumber}"></strong></p>
						<hr />
						<p>被访问数：<strong th:text="${visitsNumber}"></strong></p>
					</div>
					<div class="layui-col-lg6">
						<p>网站已运行时间：<strong>0</strong></p>
						<hr />
					</div>
				</div>
			</div>
		</div>
		
		<!-- 页脚 -->
		<div class="layui-col-lg12">
		    <div class="layui-panel layui-bg-black" style="border: #0C0C0C;" algin="center">
		        <div style="padding: 30px;">一个面板</div>
		    </div>   
		</div>
	</body>
	<script th:src="@{../../layui/layui.js}" charset="utf-8"></script>
</html>
