server:
  port: 8081

spring:
  datasource:
    username: root
    password: nihilityer8411
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/myblogsystem?serverTimezone=GMT%2B8

#关闭thymeleaf页面缓存
#  thymeleaf:
#    cache: false
