spring:
  datasource:
    username: root
    password: nihilityer8411
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.1.109:3306/myblogsystem?serverTimezone=GMT%2B8

  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB

  #关闭thymeleaf页面缓存
  thymeleaf:
    cache: false

file:
  upload-dir: ./uploads